name: Build & Push Docker Image

on:
  workflow_run:
    workflows: ["Infra"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # ============================
      # build + push a ECR
      # ============================          

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)

          docker build -t python-api .
          docker tag python-api:latest \
            $ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/python-api:latest

          docker push \
            $ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/python-api:latest
    